body {
  font-family: 'Signika', sans-serif;
  font-size: 20px;
}

a {
  color: #00B7FF;
}

.navbar {
  margin-bottom: 0;
  background-color: black;
  padding-left: 15px;
  padding-right: 15px;
}

.headers {
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 60px;
  margin-top: 0;
  padding-top: 40px;
  padding-bottom: 10px;
}

.top-header {
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  background: url(/img/running.jpg) no-repeat center center;
  background-size: cover;
  height: 810px;
}

.carousel-move {
  font-size: 50px;
  margin-top: 280px;
  color: black;
}

.title {
  font-size: 7em;
  font-family: 'Special Elite', cursive;
  text-shadow: 4px 4px 7px black;
  color: white;
}

.tagline {
  font-size: 4em;
  font-family: 'Special Elite', cursive;
  text-shadow: 4px 4px 7px black;
  color: white;
}

.info {
  background-color: #336699;
  color: white;
}

.info-header {
  padding-bottom: 20px;
}

.info-img {
  font-size: 60px;
  color: black;
  text-align: center;
}

.info-text {
  padding-bottom: 40px;
}

.testimonial-div {
  float: left;
  margin-left: 52px;
  margin-right: 52px;
}

.testimonial-img {
  border-radius: 50%;
  border: 5px solid;
  height: 275px;
  width: 275px;
}

.testimonial-info {
  width: 275px;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
}

.testimonial-name {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.footer {
  background-color: #989898;
  min-height: 150px;
  margin: 0;
}

.logo-img {
  border-radius: 10%;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-top: 40px;
}

.copyright, .about {
  text-align: center;
  color: black;
}

.social-buttons {
  margin-left: 160px;
  margin-bottom: 20px;
}

#all-info, .personal-page {
  padding-top: 50px;
}