<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Active Allies</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

<!-- NAV BAR -->
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand nav-text" id="nav-home" href="/#/">Active Allies</a> -->
          <a href="#"><img id="nav-home" class="main-logo" src="../../img/ActiveAllies-02.png" alt="Active Allies"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li id="nav-signup"><a href="#" class="nav-text">Sign Up</a></li>
            <li><a id="signin-page" href="#/signin" class="nav-text">Sign In</a></li>
            <li id="nav-welcome" class="nav-personal"><a href="#" class="nav-text">Welcome, </a></li>
            <li class="nav-personal"><a href="#" class="nav-text nav-personal" id="welcome-name"></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!-- END NAV BAR -->


<!-- SIGN IN PAGE -->
    <div class="signin-page">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <div class="signin-box">
            <h1 class="personal-title">Sign In</h1>
            <hr>
            <br>
            <form id="signin-form" class="col-md-9 col-centered">
              <div class="form-group inner-addon left-addon">
                <!-- <label for="email">Email</label> -->
                <i class="glyphicon glyphicon-envelope"></i>
                <input type="email" class="form-control signin-input" id="email-signin" placeholder="  Email">
              </div>
              <div class="form-group inner-addon left-addon">
                <!-- <label for="password">Password</label> -->
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                <input type="password" class="form-control signin-input" id="password-signin" placeholder="  Password">
              </div>
              <br>
              <button type="submit" class="btn btn-default btn-lg" id="nav-signin">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
<!-- END SIGN IN PAGE -->


<!-- HOME PAGE -->
    <div class="home-page">
      <div class="top-header">
        <h1 class="title">ACTIVE ALLIES</h1>
        <h1 class="tagline">YOU'LL NEVER HAVE TO DO IT ALONE</h1>
      </div>
    
  <!-- Info Section -->
      <div class="info">
        <h1 class="headers info-header">What We Do</h1>
        <div class="container">
          <div class="row"> 
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-plus info-img" aria-hidden="true"></span>
              <br>
              <p class="info-text">What.. This website is designed to connect you to someone who has a similar interest. Choose from a variety of activities, including, Running, Biking, Swimming, Golfing, Skiing, and Snowboarding.</p>
            </div>
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-search info-img" aria-hidden="true"></span>
              <br>
              <p class="info-text">How.. We ask that you give some general information, such as, your age, gender and location. Then you will input the activity you enjoy participating in along with some additional information about it. Last, you let us know what kind of person you are hoping to connect with.</p>
            </div>
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-globe info-img" aria-hidden="true"></span>
              <br>
              <p class="info-text">Where.. This service is available to anyone in the United States.</p>
            </div>
            <div class="col-sm-3">
              <i class="fa fa-sun-o fa-fw info-img"></i>
              <!-- <span class="glyphicon glyphicon-tree-conifer info-img" aria-hidden="true"></span> -->
              <br>
              <p class="info-text">Why.. Our hope is to encourage everybody to get out and be active. It is difficult to go out alone, this is a way to connect with someone who is interested in the same thing. It is a way to make a new friend who you can continue doing this activity with.</p>
            </div>
          </div> <!-- close row -->
        </div> <!-- close container -->
      </div> <!-- close info -->
      
      
      <!-- CAROUSEL -->
      <div id="carousel-example-generic" class="carousel slide hidden-sm hidden-xs" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol> -->
       
        <h1 class="headers">Testimonials</h1>
        <br>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="container">
              <div class="row">
               <div class="col-md-12">
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/terence.jpg" alt="terence">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/brittany.jpg" alt="brittany">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/suzanne.jpg" alt="suzanne">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- close row -->
            </div> <!-- close container -->
           </div>
       
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/sydney.jpg" alt="sydney">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/kierston.jpg" alt="kierston">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/matt.jpg" alt="matt">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- close row -->
            </div> <!-- close container -->
          </div>
       
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/shelby.jpg" alt="shelby">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/jared.jpg" alt="jared">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/heather.jpg" alt="heather">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- close row -->
            </div> <!-- close container -->
          </div> 
        </div> <!-- close inner carousel -->
     
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-menu-left carousel-move" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-menu-left carousel-move"></span>
           <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-menu-right carousel-move" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-menu-right carousel-move"></span>
           <span class="sr-only">Next</span>
        </a>
      </div> <!-- end carousel -->
      

      <!-- FOOTER -->
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="social-buttons">
                <a href="https://www.linkedin.com/profile/view?id=AAIAABnPlaQB6H340z1FAI3QzrKdfVxaD73qsSs&trk=nav_responsive_tab_profile"><img class="logo-img" src="../../img/linkedin.png" alt="Linkedin"></a>
                <a href="https://github.com/KierstonHill83"><img class="logo-img" src="../../img/github.png" alt="Github"></a>
                <a href="https://twitter.com/kierston_hill"><img class="logo-img" src="../../img/twitter.png" alt="Twitter"></a>
              </div>
              <p class="copyright text-muted small">Copyright &copy Kierston Hill 2015. All Rights Reserved </p>
            </div>
          </div> <!-- close row -->
        </div> <!-- close container -->
      </div>
    </div> <!-- close home page -->
<!-- END HOME PAGE -->


<!-- SIGN UP PAGE -->
    <div id="all-info">
      <div class="row">
        <div class="col-md-6 col-centered">
          <div class="signup-box">
            <!-- User Input -->
            <h1 class="signup personal-title">Sign Up</h1>
            <hr>
            <br>
            <form class="form-horizontal signup-form col-md-8 col-centered" id="user-signup">
              <div class="form-group">
                <label for="firstName" class="col-md-3 signup-label">Full Name</label>
                <div class="col-md-3">
                  <input type="text" class="form-control signup-input" id="first-name" placeholder="Full Name">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-md-3 signup-label">Email</label>
                <div class="col-md-3">
                  <input type="email" class="form-control signup-input" id="email" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="location" class="col-md-3 signup-label">Location</label>
                <div class="col-md-3">
                  <input type="text" class="form-control signup-input" id="location" placeholder="City, State">
                </div>
              </div>
              <div class="form-group">
                <label for="gender" class="col-md-3 signup-label">Gender</label>
                <div class="col-md-3">
                  <input type="text" class="form-control signup-input" id="gender" placeholder="Gender">
                </div>
              </div>
              <div class="form-group">
                <label for="age" class="col-md-3 signup-label">Age</label>
                <div class="col-md-3">
                  <input type="text" class="form-control signup-input" id="age" placeholder="Age">
                </div>
              </div>
              <div class="form-group">
                <label for="image" class="col-md-3 signup-label">Upload a Photo</label>
                <div class="col-md-3">
                  <input type="text" class="form-control signup-input" id="image" placeholder="Photo">
                </div>
              </div>
              <br>
              <hr>
              <br>
              <div class="form-group">
                <label for="username" class="col-md-3 signup-label">Username</label>
                <div class="col-md-3">
                  <input type="text" class="form-control signup-input" id="username" placeholder="Username">
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-md-3 signup-label">Password</label>
                <div class="col-md-3">
                  <input type="password" class="form-control signup-input" id="password" placeholder="Password">
                </div>
              </div>
              <br>
              <button type="submit" id="user-submit" class="btn btn-default btn-lg">Submit</button>
            </form>
            <br>
          </div>
        </div>
      </div>
    </div>
<!-- END SIGN UP PAGE -->
        

<!-- PERSONAL PAGE -->
    <div class="personal-page">
    <!-- Sidebar -->
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <br>
            <li id="overview" class="active"><a href="#" class="sidebar-text">Overview</a></li>
            <li id="edit-profile"><a href="#" class="sidebar-text">Edit Profile</a></li>
            <li id="activity-form"><a href="#" class="sidebar-text">Edit Activity</a></li>
            <li id="partner-form"><a href="#" class="sidebar-text">Edit Looking For</a></li>
            <li id="chat-room"><a href="#" class="sidebar-text">Chat Room</a></li>
            <li id="trails"><a href="#" class="sidebar-text">Find a Trail</a></li>
            <li><a href="#" class="sidebar-text">Help</a></li>
            <li id="logout"><a href="#" class="sidebar-text" data-toggle="modal" data-target="#myModal">Logout</a></li>
          </ul>
        </div>


        <!-- Overview -->
        <div class="container overview">
          <div class="row">
            <!-- <div class="col-md-1">
            </div> -->
            <div class="col-md-10">
              <h1 class="personal-header">Overview</h1>
              <p>There will be text about what is happening here and how to work this page.</p>
            </div>
            <div class="col-md-2">
              <!-- <img class="design-img" src="../../img/runningLogo.png" alt="Running"> -->
              <img class="design-img" src="../../img/runningMan1.png" alt="Running">
            </div>
          </div>
        </div> <!-- close overview -->


        <!-- Edit User Info -->
        <div class="container" id="edit-info">
          <div class="row">
            <!-- <div class="col-md-1">
            </div> -->
            <div class="col-md-10">
              <!-- User Input -->
              <h1 class="signup personal-header">User Info</h1>
              <p>Update your personal information.</p>
              <br>
              <div class="alert alert-success success-message" role="alert"></div>
              <div class="alert alert-danger error-message" role="alert"></div>
              <br>
              <form class="form-horizontal edit-info col-centered" id="edit-signup">
                <div class="form-group">
                  <label for="firstName" class="col-md-3 edit-label">Full Name</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control edit-input" id="edit-full" placeholder="Full Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="email" class="col-md-3 edit-label">Email</label>
                  <div class="col-md-3">
                    <input type="email" class="form-control edit-input" id="edit-email" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="location" class="col-md-3 edit-label">Location</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control edit-input" id="edit-location" placeholder="City, State">
                  </div>
                </div>
                <div class="form-group">
                  <label for="gender" class="col-md-3 edit-label">Gender</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control edit-input" id="edit-gender" placeholder="Gender">
                  </div>
                </div>
                <div class="form-group">
                  <label for="age" class="col-md-3 edit-label">Age</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control edit-input" id="edit-age" placeholder="Age">
                  </div>
                </div>
                <div class="form-group">
                  <label for="photo" class="col-md-3 edit-label">Upload a Photo</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control edit-input" id="edit-photo" placeholder="Photo">
                  </div>
                </div>
                <hr>
                <div class="form-group">
                  <label for="username" class="col-md-3 edit-label">Username</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control edit-input" id="edit-username" placeholder="Username">
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-md-3 edit-label">Password</label>
                  <div class="col-md-3">
                    <input type="password" class="form-control edit-input" id="edit-password" placeholder="Password">
                  </div>
                </div>
                <br>
                <button type="submit" id="edit-submit" class="btn btn-default btn-lg">Update</button>
              </form>
            </div>
            <div class="col-md-2">
              <img class="design-img" src="../../img/runningMan2.png" alt="Biking">
            </div>
          </div>
        </div> <!-- close edit user info -->

        <!-- Activity Input -->
        <div class="container activity-form">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-6">
              <h1 class="signup personal-header">Activity Info</h1>
              <p>Select the type of activity you are interested in. You may only select one activity. Then answer a couple questions that describe how you participate in that activity.</p>
              <br>
              <form class="signup-form form-horizontal" id="user-activity">
                <div class="radio">
                  <label><input id="running" type="radio" name="activity" value="1" data-value="Running">Running</label>
                  <!-- Properties -->
                  <div class="properties" id="running-prop">
                    <div class="form-group">
                      <label for="pace" class="activity-name1 col-md-1 control-label">Pace:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control activity-value activity-box" id="pace" placeholder="Enter the number only">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="distance" class="activity-name2 col-md-1 control-label">Distance:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control activity-value2 activity-box" id="distance" placeholder="Enter the number of miles only">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="radio">
                  <label><input id="biking" type="radio" name="activity" value="2" data-value="Biking">Biking</label>
                  <!-- Properties -->
                  <div class="properties" id="biking-prop">
                    <div class="form-group">
                      <label for="pace" class="activity-name3 col-md-1 control-label">Pace:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control activity-value activity-box" id="pace" placeholder="Enter the number only">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="distance" class="activity-name4 col-md-1 control-label">Distance:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control activity-value2 activity-box" id="distance" placeholder="Enter the number of miles only">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="radio">
                  <label><input id="swimming" type="radio" name="activity" value="3" data-value="Swimming">Swimming</label>
                  <!-- Properties -->
                  <div class="properties" id="swimming-prop">
                    <div class="form-group">
                      <label for="pace" class="activity-name5 col-md-1 control-label">Pace:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control activity-value activity-box" id="pace" placeholder="Enter the number only">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="distance" class="activity-name6 col-md-1">Distance:</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control activity-value2 activity-box" id="distance" placeholder="Enter the number of miles only">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="radio">
                  <label><input id="golfing" type="radio" name="activity" value="4" data-value="Golfing">Golfing</label>
                  <!-- Properties -->
                  <div class="properties" id="golf-prop1">
                    <label id="property-level">Level:</label>
                    <br>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Beginner">Beginner</label>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Intermediate">Intermediate</label>
                    <br>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Advanced">Advanced</label>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Expert">Expert</label>
                  </div>
                  <br>
                  <div class="properties" id="golf-prop2">
                    <label id="property-holes">I prefer to play...</label>
                    <br>
                    <label class="radio-inline"><input type="radio" name="holes" data-value="9">9 Holes</label>
                    <label class="radio-inline"><input type="radio" name="holes" data-value="18">18 Holes</label>
                    <br>
                  </div>
                </div>
                <div class="radio">
                  <label><input id="skiing" type="radio" name="activity" value="5" data-value="Skiing">Skiing</label>
                  <!-- Properties -->
                  <div class="properties" id="skiing-prop1">
                    <label id="property-level">Level:</Label>
                    <br>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Beginner">Beginner</label>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Intermediate">Intermediate</label>
                    <br>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Advanced">Advanced</label>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Expert">Expert</label>
                  </div>
                  <div class="properties" id="skiing-prop2">
                    <label id="property-runs">I prefer to ride on...</label>
                    <br>
                    <label class="radio-inline"><input type="radio" name="runs" data-value="Blue">Blue</label>
                    <label class="radio-inline"><input type="radio" name="runs" data-value="Green">Green</label>
                    <br>
                    <label class="radio-inline"><input type="radio" name="runs" data-value="Black">Black</label>
                    <label class="radio-inline"><input type="radio" name="runs" data-value="Double Black">Double Black</label>
                    <br>
                  </div>
                </div>
                <div class="radio">
                  <label><input id="snowboarding" type="radio" name="activity" value="6" data-value="Snowboarding">Snowboarding</label>
                  <!-- Properties -->
                  <div class="properties" id="snowboarding-prop1">
                    <label id="property-level">Level:</label>
                    <br>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Beginner">Beginner</label>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Intermediate">Intermediate</label>
                    <br>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Advanced">Advanced</label>
                    <label class="radio-inline"><input type="radio" name="level" data-value="Expert">Expert</label>
                  </div>
                  <div class="properties" id="snowboarding-prop2">
                    <label id="property-runs">I prefer to ride on...</label>
                    <br>
                    <label class="radio-inline"><input type="radio" name="runs" data-value="Blue">Blue</label>
                    <label class="radio-inline"><input type="radio" name="runs" data-value="Green">Green</label>
                    <br>
                    <label class="radio-inline"><input type="radio" name="runs" data-value="Black">Black</label>
                    <label class="radio-inline"><input type="radio" name="runs" data-value="Double Black">Double Black</label>
                  </div>
                </div>
                <br>
                <button type="submit" class="btn btn-default btn-lg">Submit</button>
              </form>
            </div>
            <div class="col-md-4">
              <img class="design-img" id="swimming-img" src="../../img/runningMan3.png" alt="Swimming">
            </div>
          </div>
        </div> <!-- close activity form -->

        <!-- Partner Info -->
        <div class="container partner-form">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
              <h1 class="signup personal-header">Partner Info</h1>
              <p>Please fill out the following form so we can match you with your perfect partner! Select what activity you would like to perform with your partner. Also let us know what kind of person you are hoping to meet. Please fill out the entire form.</p>
              <br>
              <form id="partner-form">
                <select id="activity-option">
                  <option value="1">Running</option>
                  <option value="2">Biking</option>
                  <option value="3">Swimming</option>
                  <option value="4">Golfing</option>
                  <option value="5">Skiing</option>
                  <option value="6">Snowboarding</option>
                </select>
                <div class="form-group">
                  <label for="location">Location</label>
                  <input type="text" class="form-control" id="location-partner" placeholder="City, State">
                </div>
                <div class="form-group">
                  <label for="gender">Gender</label>
                  <input type="text" class="form-control" id="gender-partner" placeholder="Gender">
                </div>
                <p>Age</p>
                <select id="age-option">
                  <option value="5">Within 5 years</option>
                  <option value="10">Within 10 years</option>
                  <option calue="20">More than 10 years</option>
                </select>
                <p class="property-name">Pace</p>
                <select id="pace-option">
                  <option value="1">Within 1 minute</option>
                  <option value="2">Within 5 minutes</option>
                  <option calue="3">More than 5 minutes</option>
                </select>
                <div class="form-group">
                  <label for="distance">Distance</label>
                  <input type="text" class="form-control" id="distance-partner" placeholder="Distance">
                </div>
                <button type="submit" class="btn btn-default btn-lg" id="partner-submit">Submit</button>
              </form>
            </div>
            <div class="col-md-3">
              <img class="design-img" id="partner-logo" src="../../img/runningMan4.png" alt="Partners">
            </div>
          </div>
        </div> <!-- close partner form -->


        <!-- SHOW PARTNERS -->
        <div class="show-partners">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h1 class="personal-header">Recommended Partners</h1>
              <h2 id="partner-error"></h2>
              <br>
            </div>
            <div class="col-md-3 col-md-offset-3">
              <div class="all-partners">
                <!-- id -->
                <div class="partner-id" id="p-id1">
                </div>
                <!-- image -->
                <img class="partner-img" id="p-img1" src="">
                <!-- name -->
                <h2 class="partner-name" id="p-name1">
                </h2>
                <!-- age -->
                <h2 class="partner-age" id="p-age1">
                </h2>
                <!-- gender -->
                <h2 class="partner-gender" id="p-gender1">
                </h2>
                <!-- location -->
                <h2 class="partner-location" id="p-location1">
                </h2>
                <!-- activity -->
                <h2 class="partner-activity" id="p-activity1">
                </h2>
                <br>
                <!-- property name -->
                <h2 class="partner-property prop-name" id="p-property-name1">
                </h2>
                <!-- property value -->
                <h2 class="partner-property" id="p-property-value1">
                </h2>
                <h2 class="partner-property">miles</h2>
                <br>
                <br>
                <!-- property name -->
                <h2 class="partner-property prop-name" id="p-property-name2">
                </h2>
                <!-- property value -->
                <h2 class="partner-property" id="p-property-value2">
                </h2>
                <h2 class="partner-property">minute</h2>
                <br>
                <br>
                <button type="button" class="btn btn-default confirm-chat" id="confirm1" aria-label="Left Align">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-remove deny-chat" aria-hidden="true"></span>
                </button>
              </div>
            </div>

            <div class="col-md-3">
              <div class="all-partners">
                <!-- id -->
                <div class="partner-id" id="p-id2">
                </div>
                <!-- image -->
                <img class="partner-img" id="p-img2" src="">
                <!-- name -->
                <h2 class="partner-name" id="p-name2">
                </h2>
                <!-- age -->
                <h2 class="partner-age" id="p-age2">
                </h2>
                <!-- gender -->
                <h2 class="partner-gender" id="p-gender2">
                </h2>
                <!-- location -->
                <h2 class="partner-location" id="p-location2">
                </h2>
                <!-- activity -->
                <h2 class="partner-activity" id="p-activity2">
                </h2>
                <br>
                <!-- property name -->
                <h2 class="partner-property prop-name" id="p-property-name3">
                </h2>
                <!-- property value -->
                <h2 class="partner-property" id="p-property-value3">
                </h2>
                <h2 class="partner-property">miles</h2>
                <br>
                <br>
                <!-- property name -->
                <h2 class="partner-property prop-name" id="p-property-name4">
                </h2>
                <!-- property value -->
                <h2 class="partner-property" id="p-property-value4">
                </h2>
                <h2 class="partner-property">minute</h2>
                <br>
                <br>
                <button type="button" class="btn btn-default confirm-chat" id="confirm2" aria-label="Left Align">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-remove deny-chat" aria-hidden="true"></span>
                </button>
              </div>
            </div>

            <div class="col-md-3">
              <div class="all-partners">
                <!-- id -->
                <div class="partner-id" id="p-id3">
                </div>
                <!-- image -->
                <img class="partner-img" id="p-img3" src="">
                <!-- name -->
                <h2 class="partner-name" id="p-name3">
                </h2>
                <!-- age -->
                <h2 class="partner-age" id="p-age3">
                </h2>
                <!-- gender -->
                <h2 class="partner-gender" id="p-gender3">
                </h2>
                <!-- location -->
                <h2 class="partner-location" id="p-location3">
                </h2>
                <!-- activity -->
                <h2 class="partner-activity" id="p-activity3">
                </h2>
                <br>
                <!-- property name -->
                <h2 class="partner-property prop-name" id="p-property-name5">
                </h2>
                <!-- property value -->
                <h2 class="partner-property" id="p-property-value5">
                </h2>
                <h2 class="partner-property">miles</h2>
                <br>
                <br>
                <!-- property name -->
                <h2 class="partner-property prop-name" id="p-property-name6">
                </h2>
                <!-- property value -->
                <h2 class="partner-property" id="p-property-value6">
                </h2>
                <h2 class="partner-property">minute</h2>
                <br>
                <br>
                <button type="button" class="btn btn-default confirm-chat" id="confirm3" aria-label="Left Align">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default deny-chat" aria-label="Left Align">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
          <br>
          <br>
        </div> <!-- close show partners -->


        <!-- Modal to confirm logout -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Logout</h4>
              </div>
              <div class="modal-body">
                <p>Logout was successful!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default return-home" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary return-home">Confirm</button> -->
              </div>
            </div>
          </div>
        </div>


        <!-- CHAT ROOM -->
        <div class="container title-heading full-chat">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
              <h1 class="personal-titles personal-header">Chat Room</h1>
            <!-- </div>
            <div class="col-md-3"> -->
              <div class="friend-info">
                <img class="friend-img" src="">
                <p id="friend-username"></p>
                <p id="friend-age"></p>
                <p id="friend-gender"></p>
                <p id="friend-location"></p>
                <p id="friend-activity"></p>
              </div>
            </div>
            <br>
            <div class="col-md-4">
              <br>
              <div class="room">
                <ul id="message"></ul>
              </div>
              <!-- <button type="button" class="btn btn-danger" id="chat-btn" aria-label="Left Align">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button> -->
              <form id="chatForm">
                <input type="text" name="msg" place="Input your message" id="t"/>
                <button class="btn" id="msg-btn">Send Message</button>
              </form>
            </div>
          </div>
        </div> 


        <!-- GOOGLE MAPS -->
        <div class="map">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="personal-header">Find a Trail</h1>
            <form class="form-inline">
              <label for="exampleInputName2">Place Search</label>  
              <input type="text" class="form-control" id="place-input" placeholder="Find a place...">
              <button type="submit" class="btn btn-default" id="add-location">Find</button>
            </form>
          </div>
          <br>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div id="map-div"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- close personal-page -->
<!-- END PERSONAL PAGE -->


    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/socket.io-client.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/auth.js"></script>
    <script type="text/javascript" src="/js/chatRoom.js"></script>
    <script type="text/javascript" src="/js/tableRoutes.js"></script>
    <script type="text/javascript" src="/js/googleMaps.js"></script>

  </body>
</html>