<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Active Hound</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

<!-- NAV BAR -->
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="nav-home" href="/#/">Active Hound</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li id="nav-signup"><a href="#">Sign Up</a></li>
            <!-- Form to sign in -->
            <li>
              <a id="signin-page" href="#/signin">Sign In</a>
              <!-- <form class="form-inline" id="signin-form">
                <div class="form-group">
                  <input type="email" class="form-control" id="email-signin" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="password-signin" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default" id="nav-signin">Sign In</button>
              </form> -->
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!-- END NAV BAR -->


<!-- SIGN IN PAGE -->
    <div class="signin-page">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <div class="signin-box">
            <h1>Sign In To My App</h1>
            <!-- <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> -->
            <hr>
            <br>
            <form id="signin-form">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control signin-input" id="email-signin" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control signin-input" id="password-signin" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-default" id="nav-signin">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
<!-- END SIGN IN PAGE -->


<!-- HOME PAGE -->
    <div class="home-page">
      <div class="top-header">
        <h1 class="title">ACTIVE ALLIES</h1>
        <h1 class="tagline">YOU'LL NEVER HAVE TO DO IT ALONE</h1>
      </div>
    
  <!-- Info Section -->
      <div class="info">
        <h1 class="headers info-header">What We Do</h1>
        <div class="container">
          <div class="row"> 
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-search info-img" aria-hidden="true"></span>
              <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-search info-img" aria-hidden="true"></span>
              <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-search info-img" aria-hidden="true"></span>
              <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-search info-img" aria-hidden="true"></span>
              <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div> <!-- close row -->
        </div> <!-- close container -->
      </div> <!-- close info -->
      
      
      <!-- CAROUSEL -->
      <div id="carousel-example-generic" class="carousel slide hidden-sm hidden-xs" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
       
        <h1 class="headers">Testimonials</h1>
        <br>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="container">
              <div class="row">
               <div class="col-md-12">
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/terence.jpg" alt="terence">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/brittany.jpg" alt="brittany">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/suzanne.jpg" alt="suzanne">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- close row -->
            </div> <!-- close container -->
           </div>
       
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/sydney.jpg" alt="sydney">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/kierston.jpg" alt="kierston">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/matt.jpg" alt="matt">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- close row -->
            </div> <!-- close container -->
          </div>
       
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/shelby.jpg" alt="shelby">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/jared.jpg" alt="jared">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial">
                    <div class="testimonial-div">
                      <img class="testimonial-img" src="../../img/heather.jpg" alt="heather">
                      <div class="testimonial-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="testimonial-name">- Terence Hill, CO</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- close row -->
            </div> <!-- close container -->
          </div> 
        </div> <!-- close inner carousel -->
     
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-menu-left carousel-move" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-menu-left carousel-move"></span>
           <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-menu-right carousel-move" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-menu-right carousel-move"></span>
           <span class="sr-only">Next</span>
        </a>
      </div> <!-- end carousel -->
      

      <!-- FOOTER -->
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="social-buttons">
                <a href="https://www.linkedin.com/profile/view?id=AAIAABnPlaQB6H340z1FAI3QzrKdfVxaD73qsSs&trk=nav_responsive_tab_profile"><img class="logo-img" src="../../img/linkedin.png" alt="Linkedin"></a>
                <a href="https://github.com/KierstonHill83"><img class="logo-img" src="../../img/github.png" alt="Github"></a>
                <a href="https://twitter.com/kierston_hill"><img class="logo-img" src="../../img/twitter.png" alt="Twitter"></a>
              </div>
              <p class="copyright text-muted small">Copyright &copy Kierston Hill 2015. All Rights Reserved </p>
            </div>
          </div> <!-- close row -->
        </div> <!-- close container -->
      </div>
    </div> <!-- close home page -->
<!-- END HOME PAGE -->


<!-- SIGN UP PAGE -->
    <div class="container" id="all-info">
      <div class="row">
        <div class="col-md-6">
          <!-- User Input -->
          <h1 class="signup">User Info</h1>
          <form class="signup-form" id="user-signup">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="first-name" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="last-name" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" class="form-control" id="location" placeholder="City, State">
            </div>
            <div class="form-group">
              <label for="gender">Gender</label>
              <input type="text" class="form-control" id="gender" placeholder="Gender">
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="text" class="form-control" id="age" placeholder="Age">
            </div>
            <div class="form-group">
              <label for="photo">Upload a Photo</label>
              <input type="text" class="form-control" id="photo" placeholder="Photo">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
            </div>
            <button type="submit" id="user-submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
<!-- END SIGN UP PAGE -->
        

<!-- PERSONAL PAGE -->
    <div class="personal-page">
    <!-- Sidebar -->
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="overview" class="active"><a href="#">Overview</a></li>
            <li><a href="#">Edit Profile</a></li>
            <li id="activity-form"><a href="#">Edit Activity</a></li>
            <li id="partner-form"><a href="#">Edit Looking For</a></li>
            <li id="chat-room"><a href="#">Chat Room</a></li>
            <li><a href="#">Help</a></li>
            <li id="logout"><a href="#">Logout</a></li>
          </ul>
        </div>

        <!-- Overview -->
        <div class="overview">
          <div class="col-md-6">
            <h1>Overview</h1>
            <p>There will be text about what is happening here and how to work this page.</p>
          </div>
          <br>
          <hr class="long-hr">
          <br>
        </div> <!-- close overview -->

        <!-- Activity Input -->
        <div class="activity-form">
          <div class="col-md-6">
            <h1 class="signup">Activity Info</h1>
            <form class="signup-form" id="user-activity">
              <select id="activity-option">
                <option value="1">Running</option>
                <option value="2">Biking</option>
                <option value="3">Swimming</option>
              </select>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <form id="activity-property">
              <div class="form-group">
                <label for="pace" class="activity-name">Pace</label>
                <input type="text" class="form-control activity-value" id="pace" placeholder="Pace">
              </div>
              <div class="form-group">
                <label for="distance" class="activity-name2">Distance</label>
                <input type="text" class="form-control activity-value2" id="distance" placeholder="Distance">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <br>
            <hr class="long-hr">
            <br>
          </div>
        </div> <!-- close activity form -->

        <!-- Partner Info -->
        <div class="partner-form">
          <div class="col-md-6">
            <h1 class="signup">What are you looking for in a Partner?</h1>
            <form id="partner-form">
              <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location-partner" placeholder="City, State">
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" class="form-control" id="gender-partner" placeholder="Gender">
              </div>
              <!-- <div class="form-group">
                <label for="gender">Gender</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Male
                  </label>
                  <label>
                    <input type="checkbox"> Female
                  </label>
                </div>
              </div> -->
              <p>Age</p>
              <!-- <div class="btn-group">
                <button type="button" class="btn btn-default">Age</button>
                <button type="button" class="btn btn-defulat dropdown-toggle" data-toggle="dropdown" aria- haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button> -->
                <select id="age-option">
                  <option value="5">Within 5 years</option>
                  <option value="10">Within 10 years</option>
                  <option calue="11">More than 10 years</option>
                </select>
                <!-- <ul class="dropdown-menu">
                  <li><a href="#">Within 5 years</a></li>
                  <li><a href="#">Within 10 years</a></li>
                  <li><a href="#">More than 10 years</a></li>
                </ul>
              </div> -->
            <!-- <div class="form-group">
              <label for="age">Age</label>
              <input type="text" class="form-control" id="age-partner" placeholder="Age">
            </div> -->
              <p class="property-name">Pace</p>
              <select id="pace-option">
                <option value="1">Within 1 minute</option>
                <option value="2">Within 5 minutes</option>
                <option calue="3">More than 5 minutes</option>
              </select>
              <!-- <div class="checkbox">
                <label>
                  <input type="checkbox"> Same Pace?
                </label>
              </div> -->
              <div class="form-group">
                <label for="distance">Distance</label>
                <input type="text" class="form-control" id="distance-partner" placeholder="Distance">
              </div>
              <button type="submit" class="btn btn-default" id="partner-submit">Submit</button>
            </form>
            <br>
            <hr class="long-hr">
            <br>
          </div>
        </div> <!-- close partner form -->


        <!-- GOOGLE MAPS -->
        <div class="col-md-8 col-md-offset-2">
          <form class="form-inline">
            <label for="exampleInputName2">Place Search</label>  
            <input type="text" class="form-control" id="place-input" placeholder="Find a place...">
            <button type="submit" class="btn btn-default" id="add-location">Find</button>
          </form>
        </div>
        <br>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <div id="map-div"></div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- close row -->


      <!-- CHAT ROOM -->
      <div class="container title-heading full-chat">
        <h1>Chat Room</h1>
        <br>
        <form id="socketform">
          <input type="text" name="name" place="Input your name" id="m"/>
          <button class="btn">Set Name</button>
        </form>
      </div>
      <div class="container full-chat">
        <br>
        <form id="privateForm">
          <label>Name of Person (p)</label> <!-- my name here -->
          <input type="text" name="name" place="Input name of Person" id="p"/>
          <label>Name of Room (r)</label> <!-- invitee name here -->
          <input type="text" name="room" place="Input name of Room" id="r"/>
          <button class="btn">Create Private Chat</button>
        </form>
      </div>
      <div class="container full-chat">
        <br>
        <form id="chatForm">
          <input type="text" name="msg" place="Input your message" id="t"/>
          <button class="btn">Send Message</button>
        </form>
        <div class="room">
          <ul id="message"></ul>
        </div>
      </div>
    </div> <!-- close personal-page -->
<!-- END PERSONAL PAGE -->


    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/socket.io-client.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/auth.js"></script>
    <script type="text/javascript" src="/js/chatRoom.js"></script>
    <script type="text/javascript" src="/js/tableRoutes.js"></script>
    <script type="text/javascript" src="/js/googleMaps.js"></script>


  </body>
</html>